@import "./css//base/fonts.css";
@import "./css//base/reset.css";
@import "./css/base/variables.css";

@import "./css/components/navigation.css";

.header__container {
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
    font-family: var(--font-base);
    color: var(--color-blue-300);
    font-size: 1.125rem;
    line-height: 1;
}

.header__container::after {
    content: "";
    display: block;
    z-index: -1;
    position: absolute;
    --right-offset: calc(calc(clamp(0rem, 100vw, 90rem) - 100%) / 2);
    --auto-width: clamp(9.375rem, 50% + var(--right-offset), 44.0625rem);

    top: 0;
    right: calc(-1 * var(--right-offset));
    width: var(--auto-width);
    height: 26.5625rem;
    background-color: var(--color-gray-100);
    border-bottom-left-radius: 4rem;
}

.intro__content {
    margin: 0 auto;
    width: min(100vw - 4rem, 69.375rem);
    padding: 5.6875rem 0 5.75rem;
}

.intro__image__wrapper {
    padding-top: 1.3125rem;
}

.intro__image {
    height: 15.25rem;
    margin-left: 0.5625rem;
}

.intro__sub {
    text-transform: uppercase;
    margin-bottom: 1.3125rem;
    font-size: 1rem;
    letter-spacing: 0.285em;
    font-family: var(--font-accent);
    font-weight: var(--font-normal);
}

.intro__sub::before {
    content: "New";
    margin-right: 0.9375rem;
    padding: 0.1875rem 0.625rem 0.25rem;
    letter-spacing: 0.03rem;
    font-weight: var(--font-bold);
    background-color: var(--color-blue-500);
    color: var(--color-gray-100);
    border-radius: 1rem;
}

.intro__headline {
    text-transform: uppercase;
    font-family: var(--font-accent);
    color: var(--color-blue-500);
    max-width: 20ch;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.intro__description {
    margin-bottom: 1.6875rem;
    max-width: 28ch;
    line-height: 1.625rem;
}

.intro__action {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-family: var(--font-accent);
    font-size: 0.875rem;
}

.intro__btn {
    padding: calc(1.5em - 0.5rem) calc(4em - 2rem);
    border-radius: 0.25rem;
    letter-spacing: 0.07em;
    background-color: var(--color-red);
    font-weight: var(--font-bold);
    color: var(--color-white);
    transition-property: opacity, transform;
    transition-duration: 200ms;
    transition-timing-function: ease;
}

.intro__btn__description {
    margin-left: 1.25rem;
    letter-spacing: 0.178em;
}

.focus-visible:focus-visible {
    outline: 2px dashed var(--color-red);
    outline-offset: 4px;
}

.focus-visible:active {
    transform: scale(0.95);
}

@media (hover: hover) {
    .intro__btn:hover {
        opacity: 0.5;
    }
}

@media screen and (min-width: 32em) {
    .intro__image__wrapper {
        padding-top: 3.1875rem;
    }

    .intro__image {
        height: initial;
        width: 100%;
        margin: 0;
    }
}

@media screen and (min-width: 48em) {
    .intro__headline {
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    .intro__description {
        margin-bottom: 4rem;
    }

    .intro__action {
        font-size: 1rem;
    }

    .intro__btn__description {
        margin-left: 1.5rem;
        letter-spacing: 0.29em;
    }
}

@media screen and (min-width: 60em) {
    .intro__wrapper {
        display: flex;
        flex-direction: row-reverse;
        margin: 0 auto;
        width: min(100vw - 4rem, 69.375rem);
        padding-bottom: 7.6875rem;
    }

    .intro__image__wrapper {
        width: 50%;
    }

    .intro__image {
        display: block;
        width: initial;
        height: 464px;
        margin-left: 1.75rem;
    }

    .intro__content {
        padding: 6.375rem 0 0;
        width: 50%;
    }
}
